{% extends "users/base.html" %}
{% block title %} USER {% endblock title%}
{% block content %}
  <h2>Upload Audio for Emotion Classification</h2>

  <br>

  <form method="post" enctype="multipart/form-data" action="predictEmotion/">

  {% csrf_token %}
    <div class="col-md-4 col-sm-4">
        <label for="fname">Upload Audio File Here:</label> 
    </div> 
    <input name="filePath" type="file"><br><br>
    <input type="submit" value="Submit" ></div>
    {% if 'predictedLabel' in request.GET %}
    <div>
      <h2>The emotion classification of the audio is: {{ request.GET.predictedLabel }}</h2>
    </div>
    {% endif %}
    <br><br>

  </form>
<br>



{% endblock content %}